{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@cicada/react-lego-antd": "./src"
      }
    }],
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }],
    ["import", {
        "libraryName": "antd"
    }]
  ]
}